# Created by .ignore utils plugin (hsz.mobi)
.idea/
data_disentanglement/__pycache__/
data_disentanglement/nn_deg/__pycache__/
mimic_learner/tree_plots/*
*.pyc
sdl-venv-py37/
mimic_learner/save_tmp/
data_disentanglement/output/*
interface/logs/*